 <li class=\"list-group-item\"><a href=\"kele://win.kele.db/pifu\" class=\"button\">皮肤编辑器</a><a href=\"kele://win.kele.db/fty\" class=\"button2\">新工厂</a><a href=\"kele://win.kele.db/db\" class=\"button\">经典功能</a></li>